# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\SpringTools\Workspace\sumaVector\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
